* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  max-width: 90rem;
  margin: 0 auto;
  background: linear-gradient(140deg, #89D2DC, #6564DB);
  background-attachment: fixed;
}

ul, li {
  list-style-type: none;
  display: grid;
}

a {
  border: 0;
  text-decoration: none;
  color: inherit;
}

hr {
  margin: 2rem 1rem;
  opacity: 50%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.5rem;
}

button:hover {
  cursor: pointer;
}

.top-nav {
  height: 4rem;
  display: flex;
  align-content: space-between;
  margin: 1rem 0;
}

.links-container {
  align-content: center;
}


#home-button>a {
  background-color: aliceblue;
  border-radius: 15px;
}

#home-icon {
  font-size: 3rem;
  margin: 0 2rem;
  border-radius: 15px;
}

#nav-title {
  display: grid;
  align-content: center;
  margin-left: 1rem;
}

.job-app-container {
  display: grid;
  gap: 2rem;
}

.job-form {
  background-color: #101D42;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
  border-radius: 15px;
}

.job-form>form {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.job-form>form>div {
  display: grid;
  align-content: center;
}

input {
  font-size: x-large;
  border-radius: 10px;
}

input[type=number] {
  text-align: center;
}

button[type=submit] {
  border-radius: 10px;
  border: none;
  text-decoration: none;
  background-color: inherit;
  color: white;
}

.search-icon {
  font-size: 3rem;
}

.job-card-container>ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;

}

.job-card-container>ul>li {
  overflow: clip;
}

.job-card {
  background-color: #101D42;
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem 0;
}

.job-page {
  background-color: #101D42;
  padding: 2rem;
  border-radius: 15px;
}

.job-title {
  padding: 2rem;
  margin: 1rem 0;
  background-color: aliceblue;
  border-radius: 15px;
}

.job-details {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: space-around;
  gap: 1rem;
  padding: 2rem;
  margin: 1rem 0;
  background-color: aliceblue;
  border-radius: 15px;
}

#job-description {
  padding: 2rem;
  margin: 1rem 0;
  background-color: aliceblue;
  border-radius: 15px;
}

.job-link button {
  padding: 1rem;
  font-size: 2rem;
  border: none;
  text-decoration: none;
  border-radius: 15px;
  background-color: #473198;
  color: white;
}
